{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div>
            <img src="http://placehold.it/360x240" alt="1">
            <img src="http://placehold.it/360x240" alt="1">
            <img src="http://placehold.it/360x240" alt="1">
        </div>
        <div class="text">
            <p>
                Этот проект назывался так-то и так-то.
            </p>
            <p>
                Работы проводились там-то и там-то
            </p>
        </div>
    </div>
{% endblock %}
